
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

.hero {
  
  padding: 60px 24px;
  text-align: center;
}
.hero h1 {
  font-size: clamp(32px, 8vw, 64px);
  font-weight: 800;
  color: #e0e0f0;        
  margin-bottom: 12px;
}

.hero h1 span { 
  color: #00ff9d;        
}


.hero-box {
  display: inline-block; 
  border: 2px solid #516171; 
  border-radius: 200px;
  padding: 10px 20px;
  color: darkblue;
  background-color: #B3D1ED;
}

.slogan {
  font-size: 16px;
  color: #B3D1ED;        
  letter-spacing: 2px;
  text-transform: uppercase;
}
.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.login-card {
  background: white;
  width: 420px;
  padding: 90px;
  border-radius: 8px;
  text-align: center;
}
nav {
  background-color: #111827;
  padding: 15px 0;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #3b82f6;
}

HOME {
  text-align: center;
  padding: 80px 20px 40px;
}

.hero-box h1 {
  font-size: 48px;
  color: #ffffff;
}

.hero-box h2 {
  font-size: 20px;
  color: #93c5fd;
  margin-top: 10px;
}

.intro {
  max-width: 700px;
  margin: 20px auto;
  color: #cbd5e1;
}

video {
  display: block;
  margin: 30px auto;
  width: 80%;
  border-radius: 10px;
}

.side-container {
  text-align: center;
  margin: 40px auto;
  max-width: 900px;
}

.side-container img {
  width: 100%;
  max-width: 850px;
  border-radius: 10px;
  margin-bottom: 10px;
}


ABOUT {
  background-color: #111827;
  padding: 60px 20px;
}

.history {
  max-width: 900px;
  margin: auto;
}

.history h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.history p {
  margin-bottom: 15px;
  color: #d1d5db;
}

.history blockquote {
  margin-top: 20px;
  padding: 15px;
  border-left: 4px solid #3b82f6;
  color: #93c5fd;
}


CATALOGUE img {
  width: 100%;
  max-width: 600px;
  margin: 10px;
  border-radius: 10px;
}


table {
  width: 90%;
  margin: 40px auto;
  border-collapse: collapse;
  background-color: #1f2937;
}

th {
  background-color: #111827;
  padding: 15px;
  font-size: 20px;
}

td {
  padding: 15px;
  border: 1px solid #374151;
}

select {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.cart h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 28px;
  color: #ffffff;
}
submit {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #3b82f6;
  color: white;
  border-radius: 5px;
}
